.article-card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 448px;
	// border: none;
	border-radius: 15px;
	overflow: hidden;
	// margin-right: 32px;
	background: color(gray-dark);

	@include mobile {
		max-width: 272px;
	}

	&__media {
		width: 100%;
		height: 230px;

		@include mobile {
			height: 123px;
		}

		iframe,
		img {
			width: 100%;
			height: inherit;
		}
	}

	&__descr {
		padding: 30px;

		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@include mobile {
			padding: 20px 16px;
		}
	}

	&__name {
		font-weight: 700;
		font-size: 35px;
		line-height: 44px;
		color: color(white);
		@include mobile {
			font-size: 20px;
			line-height: 25px;
		}
	}

	&__text {
		margin-top: 30px;
		font-weight: 400;
		font-size: 18px;
		line-height: 23px;
		text-align: center;
		color: color(white);
		text-align: start;
		@include mobile {
			margin-top: 15px;
			font-size: 14px;
			line-height: 18px;
		}

		&-more {
			font-weight: 400;
			font-size: 18px;
			line-height: 23px;
			color: color(accent);
			text-decoration: none;
			cursor: pointer;

			@include mobile {
				display: block;
				margin-top: 15px;
				font-size: 14px;
				line-height: 18px;
			}
		}
	}

	&__stat {
		width: 100%;
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		@include mobile {
			margin-top: 15px;
		}
	}

	&__date {
		font-weight: 400;
		font-size: 18px;
		line-height: 23px;
		color: color(white);
		opacity: 0.7;

		@include mobile {
			font-size: 14px;
			line-height: 18px;
		}
	}

	&__views {
		max-width: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-number {
			margin-left: 10px;
			font-weight: 400;
			font-size: 18px;
			line-height: 23px;
			color: color(white);
			opacity: 0.7;
			@include mobile {
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
}

body.light {
	.article-card {
		&__descr {
			background: color(beige-light);
		}

		&__name {
			color: color(gray);
		}

		&__text {
			color: color(gray);

			&-more {
				color: color(accent-dark);
			}
		}

		&__date {
			color: color(gray);
		}

		&__views {
			&-number {
				color: color(gray);
			}
			&-icon {
				path {
					fill: color(accent-dark);
				}
			}
		}
	}
}
