.blog-article {
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: color(white);

	@include mobile {
		font-size: 14px;
		line-height: 18px;
	}

	&__main-title {
		text-align: center;
		margin-top: 60px;

		@include mobile {
			margin-top: 30px;
			text-align: left;
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 60px;
		margin-bottom: 60px;
		color: color(gray-light);

		@include mobile {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

	&__views {
		display: flex;
		align-items: center;

		&-icon {
			margin-right: 10px;
		}
	}

	&__description {
		max-width: 928px;
		margin: 0 auto;
		margin-bottom: 60px;
		text-align: center;

		@include mobile {
			margin-bottom: 20px;
			text-align: left;
		}
	}

	&__slider {
		margin-top: 24px;

		&-slide-img {
			width: 100%;
		}

		.slick-slide {
			max-width: 400px;
			margin-right: 32px;

			@include mobile {
				margin-right: 12px;
			}
		}

		.slick-dots {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			width: fit-content;
			position: relative;
			top: 0px;
			list-style: none;
			margin-top: 32px;
			width: 100%;

			li {
				margin-bottom: 12px;
				margin-right: 16px;

				&:last-child {
					margin-right: 0;
				}

				button {
					display: block;
					width: 30px;
					height: 3px;
					background: none;
					border: none;
					font-size: 0px;
					cursor: pointer;

					background: rgba(62, 218, 43, 0.5);
					opacity: 0.5;
					border: 1px solid color(accent);
				}
			}

			li.slick-active {
				button {
					opacity: 1;
					background: color(accent);
				}
			}
		}

		.slick-prev,
		.slick-next {
			width: 70px;
			height: 70px;
			background: none;
			border: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
			z-index: 50;
		}

		.slick-next {
			right: -72px;
			@include pc {
				right: -42px;
			}

			@include tablet {
				right: -20px;
			}
		}

		.slick-prev {
			left: -71px;
			@include pc {
				left: -41px;
			}

			@include tablet {
				left: -20px;
			}
		}
	}
}

// Основная текстовая обертка
.blog-article {
	&__wrapper {
		margin-top: 60px;

		@include mobile {
			margin-top: 20px;
		}

		&.media {
			display: flex;
			align-items: center;
			flex: 0 0 50%;

			@include laptop {
				flex-direction: column;
			}

			&.media_left {
				.blog-article__media-content {
					order: -1;
					flex-direction: row-reverse;
				}
			}
		}
	}

	&__subtitle {
		margin-bottom: 40px;

		@include mobile {
			margin-bottom: 20px;
		}
	}

	// По-умолчанию Медиа-контент в статье - справа
	&__media-content {
		display: flex;

		&::before {
			content: "";
			display: inline-block;
			width: 1px;
			background: color(accent);
			position: relative;
			margin-right: 32px;
			margin-left: 32px;

			@include laptop {
				display: none;
			}
		}

		img,
		iframe,
		video {
			max-width: 656px;
		}

		@include laptop {
			margin: 0 auto;
			margin-top: 20px;
			margin-bottom: 20px;

			img {
				width: 100%;
			}
		}
	}

	&__secondary-title {
		margin-top: 75px;
		text-align: center;

		@include mobile {
			margin-top: 20px;
			text-align: left;
		}
	}

	&__video-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		align-items: center;
		justify-content: center;
		margin-top: 24px;
		margin-bottom: 24px;

		.blog-article__video-content {
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 656px;
			width: 100%;

			video {
				width: 100%;
				max-height: 380px;
			}
		}
	}
}

body.light {
	.blog-article {
		color: color(gray);

		&__info {
			color: color(gray-dark);
		}

		&__views {
			&-icon {
				path {
					fill: color(accent-dark);
				}
			}
		}

		&__slider {
			.slick-dots {
				li {
					button {
						background: rgba(62, 218, 43, 0.5);
						opacity: 0.5;
						border: 1px solid color(accent-dark);
					}
				}

				li.slick-active {
					button {
						background: color(accent-dark);
					}
				}
			}
		}
	}

	// Основная текстовая обертка
	.blog-article {
		&__media-content {
			&::before {
				background: color(accent-dark);
			}
		}
	}
}
