.search {
	&-wrapper {
		position: relative;
		display: flex;
		align-items: center;
	}

	&-input-wrapper {
		flex: 1;
	}

	&-input {
		min-width: 257px;
		width: 100%;
		padding: 9px 0px 10px 20px;
		border: none;

		font-weight: 400;
		font-size: 18px;
		line-height: 23px;
		color: color(accent);
		background: color(black);
		border-radius: 6px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;

		&::placeholder {
			opacity: 0.5;
		}
	}

	&-categories {
		&-select {
			margin-left: 1px;
			font-weight: 700;
			font-size: 18px;
			line-height: 23px;
			color: color(accent);
			background: color(black);
			display: flex;
			align-items: center;
			justify-content: space-between;

			&__icon {
				margin-right: 15px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&.open {
				.search-categories-list {
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					align-content: start;
				}
			}
		}

		&-selected {
			padding: 10px;
			padding-bottom: 9px;
			white-space: nowrap;
			cursor: pointer;
		}

		&-list {
			display: none;
			position: absolute;
			z-index: 1;
			top: 100%;
			left: 0;
			width: 100%;
			background-color: color(black);
			border-radius: 0 0 6px 6px;
			max-height: 390px;
			list-style: none;
			padding: 20px;
			overflow: auto;

			li {
				width: 154px;
				font-weight: 400;
				font-size: 18px;
				line-height: 23px;
				padding-top: 7px;
				padding-bottom: 7px;
				cursor: pointer;
				margin-right: 46px;

				&:hover,
				&.active {
					color: color(white);
				}
			}
		}
	}

	&-button {
		height: 42px;
		width: 42px;
		background: color(green-gradient);
		border: none;
		border-radius: 0px 4px 4px 0px;
		font-size: 16px;
		cursor: pointer;

		&:hover {
			background-color: #2980b9;

			circle,
			line {
				stroke: color(white);
			}
		}
	}

	&-variants {
		&.open {
			display: block;
		}
		// display: block;
		display: none;
		position: absolute;
		width: 100%;
		top: calc(100% + 12px);
		z-index: 10000;
		border-radius: 6px;
		padding: 10px 20px;
		box-shadow: 0px 0px 27px color(button-shadow-small);
		background-color: color(black);

		@include laptop {
			top: 100%;
		}

		@include mobile {
			padding: 10px 14px;
		}

		&__item {
			display: flex;
			align-items: center;
			padding: 12px 18px;
			border-radius: 4px;
			cursor: pointer;

			@include mobile {
				padding: 10px 14px;
			}

			&:not(:last-child) {
				margin-bottom: 12px;

				@include mobile {
					margin-bottom: 8px;
				}
			}

			&:hover {
				background-color: color(gray-dark);
			}

			&-img {
				width: 40px;
				height: 40px;
				border-radius: 4px;
				margin-right: 12px;

				@include mobile {
					margin-right: 8px;
				}
			}

			&-title {
				font-weight: 400;
				font-size: 18px;
				line-height: 23px;
				color: color(white);

				@include mobile {
					font-size: 12px;
					line-height: 15px;
				}
			}

			&_empty {
				cursor: default;
				margin-bottom: 0;

				.search-variants__item-title {
					font-style: italic;
					color: color(gray-light);
				}

				&:hover {
					background-color: initial;
				}
			}
		}
	}
}

body.light {
	.search {
		&-input {
			color: color(accent-dark);
			background: color(beige-light);
		}

		&-categories {
			&-select {
				color: color(accent-dark);
				background: color(beige-light);

				&__icon {
					path {
						fill: color(accent-dark);
					}
				}
			}

			&-list {
				background-color: color(beige-light);

				li {
					&:hover,
					&.active {
						color: color(black);
					}
				}
			}
		}
		&-button {
			circle,
			line {
				stroke: color(white);
			}

			&:hover {
				circle,
				line {
					stroke: color(black);
				}
			}
		}

		&-variants {
			box-shadow: 0px 0px 27px color(button-shadow-small);
			background-color: color(beige-light);

			&__item {
				&:hover {
					background-color: color(mint);
				}

				&-title {
					color: color(accent-dark);
				}

				&_empty {
					&:hover {
						background-color: initial;
					}

					.search-variants__item-title {
						color: color(gray-light);
					}
				}
			}
		}
	}
}
