.select {
	min-height: 54px;
	width: 100%;
	background: color(gray-dark);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 24px;
	position: relative;

	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: color(accent);

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 40px;
	}

	&.open {
		.list {
			display: flex;
			flex-direction: column;
		}
	}

	.selected {
		font-weight: 700;
		font-size: 18px;
		line-height: 23px;
		color: color(accent);
		display: flex;
		align-items: center;
		cursor: pointer;

		svg {
			margin-right: 10px;
		}

		.item__title {
			width: 100%;
		}
	}

	.list {
		display: none;
		position: absolute;
		z-index: 1;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: color(black);
		border-radius: 0 0 6px 6px;
		max-height: 390px;
		list-style: none;
		padding: 16px;
		padding-top: 0;
		overflow: auto;

		width: calc(100% - 48px);
		margin-left: 24px;
		margin-right: 24px;

		.item {
			margin-top: 20px;

			&:hover {
				.item__header {
					color: color(accent);
				}
			}

			&__header {
				font-weight: 700;
				font-size: 18px;
				line-height: 23px;
				cursor: pointer;
				color: color(white);

				display: flex;
				align-items: center;

				svg {
					margin-right: 10px;
				}
			}

			&__title {
				width: 100%;
			}

			&__description {
				margin-top: 10px;
				font-weight: 400;
				font-size: 14px;
				line-height: 18px;
				color: color(white);
				cursor: pointer;
			}

			&:hover,
			&.active {
				color: color(white);
			}
		}
	}
}

body.light {
	.select {
		background: color(mint);
		color: color(accent-dark);

		&__icon {
			svg {
				path {
					fill: color(accent-dark);
				}
				rect {
					fill: color(accent-dark);
				}
			}
		}

		.selected {
			color: color(accent-dark);

			svg {
				path {
					fill: color(accent-dark);
				}
				rect {
					fill: color(accent-dark);
				}
			}
		}

		.list {
			background-color: color(mint-dark);

			.item {
				color: color(gray);

				svg {
					path {
						fill: color(gray);
					}
					rect {
						fill: color(gray);
					}
				}

				&:hover,
				&.active {
					color: color(white);
				}
			}
		}
	}
}
