.cabinet-service {
	&__title {
		margin-top: 80px;
		font-size: 35px;
		line-height: 44px;
		text-align: center;

		@include mobile {
			margin-top: 60px;
			font-size: 30px;
			line-height: 38px;
		}

		@include mobile-small {
			text-align: left;
		}

		&_inputs {
			margin-bottom: 40px;

			@include mobile {
				margin-top: 40px;
			}
		}
	}

	&__wrapper-btn {
		max-width: 928px;
		margin: 60px auto 0 auto;
		display: flex;
		justify-content: space-between;

		@include mobile {
			margin-top: 40px;
			margin-bottom: 60px;
			flex-direction: column;
			align-items: center;
		}
	}

	&__btn {
		max-width: 448px;
		width: 100%;

		&:hover {
			svg {
				path {
					fill: color(gray-dark);
				}
			}
		}

		@include mobile {
			margin-bottom: 20px;
			height: 50px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-icon {
			height: 29px;
		}
	}

	&__form-inputs {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;

		.general-input {
			max-width: 630px;
			width: 100%;
			margin-bottom: 20px;

			@include mobile {
				max-width: 328px;
			}
		}

		.cabinet-service__form-error-text {
			// display: none;
			text-align: center;
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			color: color(red-error);
			margin-top: 12px;
		}
	}

	&__form-btn {
		max-width: 328px;
		width: 100%;
		margin-top: 20px;
	}
}
