.cabinet-orders {
	padding-top: 80px;

	@include mobile {
		padding-top: 40px;
	}

	&__title {
		text-align: center;
		font-size: 35px;
		line-height: 44px;

		@include mobile-small {
			text-align: left;
		}
	}

	&__list {
		margin-top: 60px;
		margin-bottom: 52px;
		margin: 60px auto 52px auto;

		@include mobile {
			display: none;
		}

		&_select {
			display: none;

			@include mobile {
				display: flex;
				margin-bottom: 40px;
				margin-top: 40px;
			}
		}
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.product-card {
			margin-bottom: 32px;

			@include laptop {
				margin: 0 auto;
				margin-bottom: 32px;
				justify-content: space-around;
			}
		}
	}

	&__card-wrapper {
		max-width: 1520px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		gap: 20px;
		flex-wrap: wrap;

		.product-card {
			margin-bottom: 32px;

			@include laptop {
				margin: 0 auto;
				margin-bottom: 32px;
				justify-content: space-around;
			}
		}
	}

	&__more {
		margin-top: 28px;
		display: block;
		font-weight: 700;
		font-size: 20px;
		line-height: 25px;
		text-align: center;
		color: color(accent);
		text-decoration: none;
		cursor: pointer;

		@include mobile {
			margin-top: 0px;
		}
	}
}

body.light {
	.cabinet-orders {
		&__more {
			color: color(accent-dark);
		}
	}
}
