@import "general/mixins-colors";
@import "general/mixins-media";
@import "general/buttons";
@import "general/search";
@import "general/select";
@import "general/typography";
@import "general/hor-scroll-menu";
@import "general/hor-unscroll-menu";
@import "general/product-card";
@import "general/game-card";
@import "general/blocks/header/header";
@import "general/blocks/footer/footer";
@import "general/blocks/cookie/cookie-block";
@import "general/blocks/breadcrumps/breadcrumb";
@import "general/blocks/telegram-bot/telegram-bot";
@import "general/blocks/faq/faq";

// Главный лендинг
@import "page-blocks/landing-page/main-slider/main-slider";
@import "page-blocks/landing-page/game/game";
@import "page-blocks/landing-page/game-catalog/game-catalog";
@import "page-blocks/landing-page/about/about";
@import "page-blocks/landing-page/popular-games/popular";
@import "page-blocks/landing-page/usage/usage";
@import "page-blocks/landing-page/accounts/accounts";
@import "page-blocks/landing-page/game-currency/game-currency";

// Страница о компании 27.02.2023
@import "page-blocks/about-us/hero";
@import "page-blocks/about-us/numbers";
@import "page-blocks/about-us/benefit";
@import "page-blocks/about-us/order";
@import "page-blocks/about-us/timeline";
@import "page-blocks/about-us/promo";

// Страница Игра частотная
@import "page-blocks/game-page/hero-game";
@import "page-blocks/game-page/telegram-bot-game";
@import "page-blocks/game-page/services";
@import "page-blocks/game-page/promocode";
@import "page-blocks/game-page/guide-game";
@import "page-blocks/game-page/game-review";
@import "page-blocks/game-page/game-page-faq";

// Страница Контакты
@import "page-blocks/contact/contacts";
@import "page-blocks/contact/ya-map";

@import "test";

// При создании таблиц стилей был применен подход с 1 табилцей стилей, т.к. использование нескольких таблиц делает переключение более ресурсозатратным.
// При этом Тёмная тема считается стандартной. Изначально все элементы создавались под темную тему.
// Поэтому в конце каждого файла стилей содержится правило для "перекрашивания" элементов, которые находятся внутри body."themeName"

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Source Sans Pro", "Inter", sans-serif;
	font-style: normal;
}

html,
body {
	overflow-x: hidden;
}

.show {
	display: block;
}

body {
	&.dark {
		background-color: color(background-dark);

		.header-main__color-theme-light {
			display: none;
		}
	}

	&.light {
		background-color: color(background-light);

		.header-main__color-theme-dark {
			display: none;
		}
	}
}

.container {
	max-width: 1520px;
	margin: 0 auto;
}

.padding-side {
	padding-left: 10px;
	padding-right: 10px;
}
