.faq {
	&.container {
		margin-top: 100px;

		@include mobile {
			margin-top: 60px;
		}
	}

	&__title {
		text-align: center;
		margin-bottom: 60px;
		text-align: center;

		@include mobile {
			margin-bottom: 40px;
		}
	}

	&__items-wrapper {
		max-width: 1003px;
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 auto;
	}
}

.faq__item {
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 1px;
		background: linear-gradient(90deg, rgba(62, 218, 43, 0) 0%, #3eda2b 51.04%, rgba(62, 218, 43, 0) 100%);
	}

	&:first-child {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			width: 100%;
			height: 1px;
			background: linear-gradient(90deg, rgba(62, 218, 43, 0) 0%, #3eda2b 51.04%, rgba(62, 218, 43, 0) 100%);
		}
	}

	&-header {
		// padding-bottom: 20px;
		display: flex;
		justify-content: space-between;
		cursor: pointer;

		@include mobile {
			flex-direction: column;
			align-items: center;
		}
	}

	&-title {
		@include mobile {
			text-align: center;
		}
	}

	&-icon {
		transform: rotate(180deg);

		@include mobile {
			margin-top: 20px;
		}
	}

	&-description {
		font-weight: 400;
		font-size: 18px;
		line-height: 23px;
		color: color(white);

		@include mobile {
			font-size: 14px;
			line-height: 18px;
		}
	}

	&-text-wrapper {
		display: none;
		margin-top: 20px;
		// padding-bottom: 40px;
	}

	&.open {
		.faq__item-text-wrapper {
			display: block;
		}

		.faq__item-icon {
			transform: rotate(0deg);
		}
	}

	&-link {
		color: color(white);
	}
}

body.light {
	.faq__item {
		&::after {
			background: linear-gradient(90deg, rgba(62, 218, 43, 0) 0%, #008d26 51.04%, rgba(62, 218, 43, 0) 100%);
		}

		&:first-child {
			&::before {
				background: linear-gradient(90deg, rgba(62, 218, 43, 0) 0%, #008d26 51.04%, rgba(62, 218, 43, 0) 100%);
			}
		}

		&-icon {
			svg {
				path {
					fill: color(accent-dark);
				}
			}
		}

		&-description {
			color: color(gray);
		}

		&-link {
			color: color(gray);
		}
	}
}
