.hero {
    &__title {
        text-align: center;
        margin-top: 63px;

        @include tablet {
            margin-top: 30px;
            text-align: left;
        }

        @include mobile {
            font-size: 30px;
            line-height: 38px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        @include tablet {
            flex-wrap: wrap;
            margin-top: 40px;
        }
    }

    &__about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 688px;
        margin-right: 32px;
    }

    &__descr {
        margin-top: 40px;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: color(white);

        @include laptop {
            margin-top: 16px;
        }

        @include tablet {
            margin-top: 40px;
        }

        @include mobile {
            font-size: 14px;
            line-height: 18px;
        }

        &-two {
            margin-top: 20px;
            @include tablet {
                display: none;
            }
        }

        &-hidden {
            display: none;
            @include tablet {
                display: block;
                width: 688px;
                margin-top: 40px;
            }
        }
    }

    &__img {
        width: 100%;
        @include tablet {
            margin-top: 40px;
        }
    }

    &__divider {
        width: 1px;
        min-height: 263px;
        height: 100%;
        background: color(accent);
        margin-right: 32px;

        @include tablet {
            display: none;
        }
    }
}
