.order {
    &__wrapper {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            flex-wrap: wrap;
        }

        @include mobile {
            margin-top: 60px;
        }
    }

    &__img {
        @include mobile {
            display: none;
        }

        &-hidden {
            display: none;
            @include mobile {
                display: block;
                margin-top: 40px;
                width: 100%;
            }
        }
    }

    &__divider {
        width: 1px;
        min-height: 602px;
        height: 100%;
        background: color(accent);
        margin: 0px 32px;

        @include tablet {
            display: none;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 776px;
        &-discount {
            margin-top: 40px;
            @include mobile {
                display: none;
            }
        }
        &-hidden {
            margin-top: 40px;
            @include mobile {
                display: block;
            }
        }
    }

    &__title {
        max-width: 709px;
        @include mobile-small {
            max-width: 100%;
        }
        &-hidden {
            display: none;
            @include mobile {
                display: block;
            }
            @include mobile-small {
                max-width: 100%;
            }
        }
    }

    &__descr {
        margin-top: 40px;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: color(white);

        @include mobile {
            font-size: 14px;
            line-height: 18px;
        }

        &-hidden {
            display: none;
            @include mobile {
                display: block;
            }
        }
    }
}

body.light {
    .order {
        &__divider {
            background: color(accent-dark);
        }

        &__descr {
            color: color(gray);
        }
    }
}
