.promo {
    &.container {
        margin-top: 100px;

        @include mobile {
            margin-top: 60px;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 16px;
        @include mobile {
            margin-bottom: 0;
        }
        @include mobile-small {
            text-align: left;
        }
    }

    &__box-wrapper {
        border: 1px solid color(accent);
        padding: 78px 119px 77px 119px;

        @include mobile {
            padding: 0;
            border: none;
        }
    }

    &__descr {
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: color(white);
        margin-top: 60px;
        text-align: center;

        @include mobile {
            margin-top: 40px;
            font-size: 14px;
            line-height: 18px;
        }
        @include mobile-small {
            text-align: left;
        }
    }

    /* @include laptop {
		&__title {
			@include tablet {
				margin-bottom: 20px;
			}
		}

		&__box-wrapper {
			padding: 40px 20px;
		}

		&__content-wrapper {
			@include tablet {
				flex-direction: column;
			}
		}

		&__img {
			@include tablet {
				width: 429px;
				height: 256px;
				margin-bottom: 20px;
			}
		}
	}

	@include tablet {
		&__title {
			margin-bottom: 20px;
		}

		&__content-wrapper {
			flex-direction: column;
		}

		&__img {
			width: 429px;
			height: 256px;
			margin-bottom: 20px;
		}
	}

	@include mobile {
		&__img {
			background-image: url("../icons/telegram-bot-block/telegram-bot_mob_dark.svg");
		}

		&__description {
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 20px;
		}
	} */
}
