.timeline {
    padding-top: 100px;

    @include mobile {
        padding-top: 0;
    }

    &__wrapper {
        max-width: 1410px;
        width: 100%;
        margin: 0 auto;
        margin-top: 42px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        @include mobile {
            margin-top: 40px;
        }
    }
}

.timeline-item {
    /*  max-width: 212px; */
    max-width: 328px;
    position: relative;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 30px;

    &__shape {
        /*    width: 114px; */
        height: 114px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            border: 1px solid color(accent);
            top: 15%;

            width: 80px;
            height: 80px;
            transform: rotate(45deg);
        }
    }

    &__number {
        font-weight: 400;
        font-size: 25px;
        line-height: 31px;
        text-align: center;
        color: color(white);
        position: relative;
    }

    &__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: color(white);
        margin-top: 30px;

        @include mobile {
            margin-top: 15px;
            font-size: 14px;
            line-height: 18px;
        }
    }
}

body.light {
    .timeline-item {
        &__shape {
            &::before {
                border: 1px solid color(accent-dark);
            }
        }
        &__number {
            color: color(gray);
        }

        &__description {
            color: color(gray);
        }
    }
}
