.game-review {
    &__title {
        margin-top: 80px;
        text-align: center;
        @include mobile {
            margin-top: 60px;
        }
    }

    &__more {
        margin: 17px auto 0 auto;
        display: block;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        text-align: right;
        color: color(accent);
        text-decoration: none;
        cursor: pointer;
        @include laptop {
            text-align: center;
        }
        @include mobile {
            font-size: 20px;
            line-height: 25px;
        }
    }

    &__wrapper {
        position: relative;
        max-width: 1408px;
        margin: 18px auto 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include laptop {
            max-width: 500px;
        }
        @include mobile {
            max-width: 300px;
        }
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 448px;
        border: none;
        border-radius: 15px;
        overflow: hidden;
        margin-right: 32px;

        @include mobile {
            max-width: 240px;
        }
    }

    &__descr {
        padding: 30px;
        background: color(gray-dark);
        width: 100%;
        height: 100%; /* 
        z-index: -1; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include mobile {
            padding: 20px 16px;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 35px;
        line-height: 44px;
        color: color(white);
        @include mobile {
            font-size: 20px;
            line-height: 25px;
        }
    }

    &__text {
        margin-top: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: color(white);
        text-align: start;
        @include mobile {
            margin-top: 15px;
            font-size: 14px;
            line-height: 18px;
        }

        &-more {
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: color(accent);
            text-decoration: none;
            cursor: pointer;
            @include mobile {
                display: block;
                margin-top: 15px;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }

    &__stat {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        @include mobile {
            margin-top: 15px;
        }
    }

    &__date {
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: color(white);
        opacity: 0.7;

        @include mobile {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__views {
        max-width: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-number {
            margin-left: 10px;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: color(white);
            opacity: 0.7;
            @include mobile {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}

.game-review {
    .slick-list {
        padding-left: 200px;
    }

    .slick-slide {
        display: flex;
    }

    .slick-dots {
        list-style-type: none;
        padding: 0px;
        position: absolute;
        top: 546px;
        left: 50%;
        transform: translateX(-50%);
        display: flex !important;
        justify-content: space-between;
        max-width: 336px;
        width: 100%;

        @include laptop {
            top: 512px;
        }

        @include mobile {
            top: 465px;
            max-width: 176px;
        }

        li {
            margin-right: 22px;

            @include mobile {
                margin-right: 18px;
            }
            &:last-child {
                margin-right: 0;
            }

            button {
                font-size: 0;
                width: 60px;
                height: 8px;
                background: rgba(62, 218, 43, 0.5);
                opacity: 0.5;
                border: 1px solid color(accent);
                cursor: pointer;
                @include mobile {
                    width: 31px;
                    height: 3px;
                }
            }
        }

        .slick-active {
            button {
                background: color(accent);
                opacity: 1;
            }
        }
    }

    .slick-prev,
    .slick-next {
        width: 70px;
        height: 70px;
        background: none;
        border: none;
        position: absolute;
        top: 216px;
        cursor: pointer;
        z-index: 50;
    }

    .slick-next {
        right: -72px;
        @include laptop {
            right: -42px;
        }
    }

    .slick-prev {
        left: -71px;
        @include laptop {
            left: -41px;
        }
    }
}

body.light {
    .game-review {
        &__more {
            color: color(accent-dark);
        }

        &__descr {
            background: color(beige-light);
        }

        &__name {
            color: color(gray);
        }

        &__text {
            color: color(gray);

            &-more {
                color: color(accent-dark);
            }
        }

        &__date {
            color: color(gray);
        }

        &__views {
            &-number {
                color: color(gray);
            }
            &-icon {
                path {
                    fill: color(accent-dark);
                }
            }
        }
    }

    .game-review {
        .slick-dots {
            li {
                button {
                    background: color(accent-dark);
                    opacity: 0.5;
                    border: 1px solid color(accent-dark);
                }
            }

            .slick-active {
                button {
                    background: color(accent-dark);
                    opacity: 1;
                }
            }
        }

        .slick-prev,
        .slick-next {
            background-color: color(background-light);
        }
    }
}
