.services {
	padding-top: 80px;

	@include mobile {
		padding-top: 60px;
	}

	&__title {
		text-align: center;
	}

	&__list {
		margin: 60px auto 52px auto;

		@include mobile {
			max-width: 276px;
		}
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
	}

	&__more {
		margin-top: 28px;
		display: block;
		font-weight: 700;
		font-size: 20px;
		line-height: 25px;
		text-align: center;
		color: color(accent);
		text-decoration: none;
		cursor: pointer;

		@include mobile {
			margin-top: 0px;
		}
	}
}

body.light {
	.services {
		&__more {
			color: color(accent-dark);
		}
	}
}
